#files
gsheetslogin.txt
credentials.json
multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
.env
f1-rng-af88a21f9c18.json

#folders
__pycache__/
python/__pycache__/
python/tests/__pycache__/
.pytest_cache/
